<component name="libraryTable">
  <library name="spring-mvc-3.2.2.RELEASE" type="spring-mvc">
    <properties version="3.2.2.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-webmvc.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-web.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>